.table {
  border: 1px solid var(--color-grey-200);
  background-color: var(--color-grey-0);
  border-radius: 0.4rem;
  overflow: hidden;
}

.tableHeader {
  display: grid;
  column-gap: 2.4rem;
  align-items: center;
  background-color: var(--color-grey-0);
  border-bottom: 1px solid var(--color-grey-100);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--color-grey-500);
  padding: 1.5rem 2rem;
}

.cabinRow {
  display: grid;
  column-gap: 2.4rem;
  align-items: center;
  padding: 1rem 2.5rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-100);
  }

  img {
    display: block;
    width: 6.4rem;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    object-position: center;
    transform: scale(1.5) translateX(-7px);
    border-radius: 0.2rem;
  }

  .price,
  .name {
    color: var(--color-grey-600);
    font-family: 'Sono', monospace;
  }

  .discount {
    font-family: 'Sono', monospace;
    color: var(--color-green-700);
  }
}
