.table {
  border: 1px solid var(--color-grey-200);
  background-color: var(--color-grey-0);
  border-radius: 0.4rem;
  overflow: hidden;
  font-size: 0.9rem;
}

.tableHeader {
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 2.2fr 1fr 1fr 1fr;
  column-gap: 2.4rem;
  align-items: center;
  background-color: var(--color-grey-50);
  border-bottom: 1px solid var(--color-grey-100);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--color-grey-500);
  padding: 1.5rem 2rem;
  font-size: 0.8rem;
}
